/* $Id: toolboxOptions.h.template,v 1.1 2004/02/05 18:41:01 paklein Exp $ */
/* optional libraries - enabled from command line with -D[symbol] declarations */
#ifndef _TOOLBOX_OPTIONS_H_
#define _TOOLBOX_OPTIONS_H_

/* f2c: FORTRAN to C support */
//#define __F2C__

/* METIS: graph partitioning package */
//#define __METIS__

/* ACCESS: Sandia Engineering Sciences tools */
//#define __ACCESS__

/* EXPAT: XML parser */
//#define __EXPAT__

#endif /* _TOOLBOX_OPTIONS_H_ */
